@charset "UTF-8";
@import "tailwindcss";

@font-face {
  font-family: '87mmilsang';
  src: url('./fonts/87MMILSANG-Regular.woff2') format('woff2'),
       url('./fonts/87MMILSANG-Regular.woff') format('woff');
  font-display: swap;
}

:root {
  --font-primary: '87mmilsang';
}

html,
body {
  font-family: var(--font-primary);
}